@use "../utilities/variables" as *;

.newPost {
  form {
    min-height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    & > * {
      padding: 1rem;
      outline: none;
      border-radius: 5px;
      border: none;
      font-family: inherit;
      font-size: 1rem;
    }
    input[type="text"] {
      background-color: $light-clr;
      border: 1px solid transparent;
      transition: border-color 0.5s;
      &:hover {
        border-color: $main-clr;
      }
      &:focus {
        border-color: $main-clr;
      }
      &::placeholder {
        color: $sec-clr;
      }
    }
    textarea {
      background-color: $light-clr;
      min-height: 10rem;
      max-width: 100%;
      border: 1px solid transparent;
      transition: border-color 0.5s;
      &:hover {
        border-color: $main-clr;
      }
      &:focus {
        border-color: $main-clr;
      }
      &::placeholder {
        color: $sec-clr;
      }
    }
    div {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0;
      & > * {
        border-radius: 5px;
        font-family: inherit;
        font-size: 1rem;
      }
      label {
        background-color: $txt-clr;
        color: white;
        align-self: flex-end;
        padding: 7px 20px;
      }
      input[type="submit"] {
        align-self: flex-start;
        padding: 7px 20px;
        cursor: pointer;
        font-size: 1rem;
        font-weight: 600;
        border: 1px solid $main-clr;
        color: $txt-clr;
        transition: background-color 0.5s, color 0.5s;
        &:hover {
          background-color: $main-clr;
          color: white;
        }
      }
    }
  }
}
